<script src="/static/script.js"></script>
<form action="{{ url_for('login_submit') }}" method="POST" id="form">
    Challenge nonce (not sent to the server):<br>
    <textarea id="challenge" rows="5" readonly>{{ challenge }}</textarea><br>

    Signature of the challenge:<br>
    <textarea name="signature" id="signature" rows="5" readonly></textarea><br>

    User name:<br>
    <input type="text" name="username" value=""><br>

    <input type="submit">
</form>

<script>
    callDB(function (store) {
        var getData = store.get(1);
        getData.onsuccess = function () {
            if (!getData.result) {
                document.getElementById('form').innerHTML = 'You don\'t have any key generated yet.';
                return;
            }

            var publicKey = getData.result.publicKey;
            var privateKey = getData.result.privateKey;
            var challenge = base64ToBinary(document.getElementById('challenge').value);

            signData(challenge, privateKey).then(function (signed) {
                document.getElementById('signature').value = arrayToHex(new Uint8Array(signed));
            });
        };
    }, function () {});
</script>
