{% extends "_layout.html" %}

{% block content %}
    <h2>Login</h2>

    <form action="{{ url_for('login_submit') }}" method="POST" id="form">
        <div class="form-group">
            <label>Challenge nonce (stored in session)</label>
            <textarea id="challenge" class="form-control" rows="5" readonly>{{ challenge }}</textarea>
        </div>

        <div class="form-group">
            <label>Loaded public key</label>
            <textarea class="form-control" id="public_key" rows="5" readonly></textarea>
        </div>

        <div class="form-group">
            <label>Signature of the challenge</label>
            <textarea name="signature" id="signature" class="form-control" rows="5" readonly></textarea>
        </div>

        <div class="form-group">
            <label>User name</label>
            <input type="text" name="username" value="" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Log in</button>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        callIndexedDB(function (store) {
            var getData = store.get(1);
            getData.onsuccess = function () {
                if (!getData.result) {
                    document.getElementById('form').innerHTML = 'You don\'t have any key generated yet.';
                    return;
                }

                var publicKey = getData.result.publicKey;
                var privateKey = getData.result.privateKey;
                var challenge = base64ToBinary(document.getElementById('challenge').value);

                exportKey('spki', publicKey).then(function (exportedKey) {
                    document.getElementById('public_key').value = spkiToPEM(exportedKey);
                    return signData(challenge, privateKey);
                }).then(function (signed) {
                    document.getElementById('signature').value = arrayToHex(signed);
                });
            };
        });
    </script>
{% endblock %}
