{% extends "_layout.html" %}

{% block content %}
    <h2>Login</h2>

    <form action="{{ url_for('.login_submit') }}" method="POST" id="login_form">
        <div class="form-group">
            <label>Challenge nonce (stored in session)</label>
            <textarea id="challenge" class="form-control monospace-font" rows="5" readonly>{{ challenge }}</textarea>
        </div>

        <div class="form-group">
            <label>Loaded public key</label>
            <textarea id="public_key" class="form-control monospace-font" rows="5" readonly></textarea>
        </div>

        <div class="form-group">
            <label>Signature of the challenge</label>
            <textarea id="signature" name="signature" class="form-control monospace-font" rows="5" readonly></textarea>
        </div>

        <div class="form-group">
            <label>User name</label>
            <input type="text" name="username" value="" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Log in</button>
    </form>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='login.js') }}"></script>
{% endblock %}
