{% extends "_layout.html" %}

{% block content %}
    <h2>Register</h2>

    <form action="{{ url_for('.register_submit') }}" method="POST" id="register_form">
        <div class="form-group">
            <label>Challenge nonce (stored in session)</label>
            <textarea id="challenge" class="form-control monospace-font" rows="5" readonly>{{ challenge }}</textarea>
        </div>

        <div class="form-group">
            <label>Generated public key</label>
            <textarea id="public_key" name="public_key" class="form-control monospace-font" rows="5" readonly></textarea>
        </div>

        <div class="form-group">
            <label>Signature of the public key and challenge</label>
            <textarea id="signature" name="signature" class="form-control monospace-font" rows="5" readonly></textarea>
        </div>

        <div class="form-group">
            <label>User name</label>
            <input type="text" name="username" class="form-control" value="">
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
    </form>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='register.js') }}"></script>
{% endblock %}
