<script src="/static/script.js"></script>
<form action="{{ url_for('register_submit') }}" method="POST" id="form">
    Challenge nonce (not sent to the server):<br>
    <textarea id="challenge" rows="5" readonly>{{ challenge }}</textarea><br>

    Public key:<br>
    <textarea name="public_key" id="public_key" rows="5" readonly></textarea><br>

    Signature of the challenge:<br>
    <textarea name="signature" id="signature" rows="5" readonly></textarea><br>

    User name:<br>
    <input type="text" name="username" value=""><br>

    <input type="submit">
</form>

<script>
    makeKeys().then(function (keys) {
        window.crypto.subtle.exportKey('spki', keys.publicKey).then(function (exportedKey) {
            document.getElementById('public_key').value = spkiToPEM(exportedKey);
            return signData(base64ToBinary(document.getElementById('challenge').value), keys.privateKey);
        }).then(function (signed) {
            document.getElementById('signature').value = arrayToHex(new Uint8Array(signed));

            callDB(function (store) {
                store.put({ id: 1, publicKey: keys.publicKey, privateKey: keys.privateKey });
            }, function () {});
        });
    });
</script>
